.div-content{
    width: 70vw;
    text-align: center;
    margin: auto;
}

.parent-div{
    background-color: white;
    width: 90vw;
    display: grid;
    place-items: center;
    margin: 5vh auto;
    border-radius: 10px;
}

#blog-img{
    width: 55vw;
    /* height: 100%; */
    margin: 30px;
}