.post-input{
    margin: 1%;
    width: 50vw;
    font-size: 20px;
}

textarea{
    width: 60vw;
    height: 30vh;
    font-size: 18px;
    margin: 1%;
}

.post-submit{
    width: 120px;
    padding: .7%;
    font-size: large;
}