.repos{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#pro-heading{
    text-align: center;
}

.repo{
    width: 260px;
    background-color: black;
    margin: 15px 30px;
}

.repo h1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 23px;
}

.repo img{
    width: 260px;
    height: 310px;
}